extends template.pug

block title
  title Report

block wizard
  include wizard.pug

block wizard
  include wizard.pug

block content

    h1 Error

    span(style="color:red;font-size:2em") #{errorStr}

    div(style="margin-top:30px")
      p Check that you have uploaded the right files.
      p Check that you have selected all fields when exporting files from IQTell

    input(class="btn btn-default" type="button" value="Try again" onclick="window.location.href='/upload'")
