extends template.pug

block title
  title Report

block meta
  meta(
    http-equiv="refresh"
    content="2")


block wizard
  include wizard.pug

block wizard
  include wizard.pug

block content

    h1 Working on it ...

    p evaluated #{iqtellProgress.importActions.numRead} activities
    p evaluated #{iqtellProgress.importProjects.numRead} projects
